* {
    box-sizing: border-box;
}

body {
    margin: 0px;
    padding: 0px;
    background: white;
    font-family: Calibri, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
    padding: 0px;
}


.top-container {
    height: 150px;
    width: 100%;

}

.header {
    height: 150px;
    width: 100%;
    box-shadow: 0px 0px 8px rgba(0,0,0,0.3);
}

.left-header {
    width: 40%;
    padding-top: 20px;
    padding-left: 100px;
    float: left;
}

.website-name {
    font: bold 40px 'Old English Text MT';
    text-shadow: 0px 3px 5px rgba(0,0,0,0.7);
    color: #434343;
}

.left-header h2 {
    margin: 15px;
    padding-left: 20px;
    text-decoration: underline;
    font-family: Candara;
}

.middle-header {
    width: 25%;
    float: left;
    height:100%;
}

.right-header {
    width: 35%;
    float: left;
}

.img-container {
    float: left;
    margin: 15px;
    padding: 5px;
}

.img-responsive {
    width: 100px;
    height: auto;
    padding: 4px;
    border: 1px solid #ccc;
}

.right-header-left {
    width: 40%;
    float: left;
    text-align: center;
    height: 100%;
}

.right-header-left h4 {
    font: bold 20px garamond;
    margin-top: 30px;
    margin-bottom: 20px;
}


.admin-name {
    font-weight: bold;
    font-size: 12px;
    background: #eee;
    padding: 5px 15px;
    border-radius: 2px;
    color: darkcyan;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.2);
}


.right-header-right {
    width: 60%;
    padding-left: 30px;
    margin-left: 35%;
}

.btn-logout {
    float: right;
    margin-top: 20px;
    padding: 5px 20px;
    font: bold 16px calibri;
    border: 1px solid #ccc;
    color: black;
    background: white;
    border-radius: 4px;
    outline: none;
    transition: all 0.33s ease-in-out;
}

.btn-logout:hover {
    cursor: pointer;
    background: #f9f9f9;
    border-color: #aaa;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
}

.main-content{
    position:absolute;
    width:100%;
    height:auto;
    z-index:-1;
}

.menu-bar{
    height:50px;
    width:100%;
    background:#f9f9f9;
    text-align:right;
    /*border-bottom:3px solid #eee;*/
    overflow:hidden;
}


ul {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    padding-right:150px;
    
}

ul li{
    float:right;
}

ul li a {
    text-decoration: none;
    display: block;
    color: #4caf50;
    padding: 14px 20px;
    font: bold 20px calibri;
    transition:all 0.33s ease-in-out;
    
}

ul li a:hover {
    background:#ccc;
    color:black;
}


.top-container:after{
    content:"";
    clear:both;
    display:table;
}

.copyright{
    width:100%;
    text-align:center;
    padding:10px;
}

.copyright a{
    text-decoration:none;
    color:#333;
}

.copyright a:hover{
    text-decoration:underline;
    color:#111;
}