*{
    box-sizing:border-box;
}

body {
    margin:0px;
    padding:0px;
    background:white;
    font-family: Calibri, 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

form{
    text-align:center;
    margin:0px;
    padding:0px;
}

.header-container{
    width:100%;
    height:150px;
    box-shadow:0px 0px 10px rgba(0,0,0,0.3);
    background:#fafafa;       
    float:left;
}


.top-left{
    width:35%;
    height:100%;
    text-align:left;
    float: left;
}

.top-left h1{
    font: bold 50px 'Old English Text MT'; 
    text-shadow:0px 2px 3px rgba(0,0,0,0.7);
    padding-left:150px;
    color: #434343;
}

.top-middle{
    width:30%;
    float: left;
    height:100%;
}



.top-right{
    width:33%;
    height: 100%;
    float: left;
    padding: 10px 0px;
    text-align: center;
}

.top-right h1{
    box-shadow:none;
    text-align:center;
    font-family: Cambria;
    font-size:22px;
    color: #225558;
    text-decoration:underline;
}

.top-right code{
    background:#ddd;
    box-shadow: inset 0px 0px 2px rgba(0,0,0,0.3);
    padding:5px 15px;
    border-radius:4px;
    color: darkcyan;
}

.top-right .info-container{
    width:40%;
    height:100%;
    float:left;
    padding: 10px 0px;
}

.top-right .btn-img-container{
    width:60%;
    float:left;
    text-align:right;
    height:100%;
}

.top-right #btnLogout {
    height: 35px;
    width: 100px;
    border-radius: 4px;
    background: white;
    margin: 10px;
    font: bold 18px calibri;
    outline: none;
    border: 1px solid #bbb;
    box-shadow: 0px 2px 3px rgba(0,0,0,0.3);
    transition: all 0.33s ease;
}

.top-right #btnLogout:hover {
   background:#eee;
   cursor:pointer;
   border:1px solid #999;
}


.img-responsive{
    height:auto;
    width:50%;
    padding:5px;
    float:left;
    background:white;
    border:1px solid #ccc;
    box-shadow:0px 0px 2px rgba(0,0,0,0.2);
    border-radius:2px;
}


.middle{
    width:59%;
    height:100%;
    float:left;
}

.right{
    width:20%;
    height:100%;
    float:right;
    text-align:center;
}

.container{
    width:80%;
    height:600px;
    margin:0px auto;
}

.footer{
    height:50px;
    width:100%;
    background:#fafafa;
    border-top:6px solid #ddd;
}

.footer .copyright{
    margin-top:10px;
    text-align:center;
    font-weight:bold;
}

