@font-face {
    font-family: 'OpenSans-Bold';
    src: url('../fonts/OpenSans-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-SemiBold';
    src: url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Regular';
    src: url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: url('../fonts/OpenSans-Light.ttf') format('truetype');
}

.col-md-3{
    width: 31%;
    float:left;
    margin: 3% 1%;
}

.card{
    height: 435px;
    background:white;
    box-shadow:0 2px 2px 0 rgba(0,0,0,0.1),0 2px 2px 0 rgba(0,0,0,0.12),0px 2px 2px -2px rgba(0,0,0,0.3);
}

.title{
    font: 24px 'OpenSans-regular';
    text-align:center;
    margin-top: 20px;
    color:#212121;
}

.link{
    position:relative;
    width:100%;
    height:180px;
}

.link img{
    width:100%;
    height: 180px;
}

.overlay{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    opacity:0;
    transition:all 0.5s ease-in-out;
    background:black;
}

.link:hover .overlay{
    opacity:0.5;
}

.info{
    margin: 10px;
    height:80px;
}

.price-tag{
    padding-top: 15px;
    font: 14px 'OpenSans-semibold';
}

.desc{
    font: 12px 'OpenSans-regular';
    text-align: left;
    height: 54px;
    overflow: hidden;
}

.event-section{
    padding-top: 25px;
    height: 60px;
}

.event-section .btn{
    height:35px;
    width:130px;
    margin:0% 3%;
    border:1px solid #bbb;
    border-radius: 2px;
    background:white;
    font:12px 'OpenSans-Regular';
    cursor:pointer;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.event-section .btn:hover:not(:disabled),.btn-view-product:hover{
    background:#fafafa;
    box-shadow:0px 1px 5px rgba(0,0,0,0.2);
}

.btn-view-product{
    text-decoration:none;
    height:35px;
    width:130px;
    margin:0% 4%;
    color:black;
    font:12px 'OpenSans-Regular';
    border:1px solid #bbb;
    display:block;
    line-height:35px;
    box-sizing:border-box;
    text-align:center;
    float:left;
    border-radius:2px;
    transition:all 0.33s ease-in-out;
}

.link a{
    position:absolute;
    top:0;
    right:0;
    left:0;
    bottom:0;
    text-decoration:none;
    color:white;
    line-height: 180px;
    text-align:center;
    opacity:0;
    transition:all 0.5s ease-in-out;
}

.link:hover a{
    opacity:1;
}

.cart{
    text-align:center;
    display:block;
    font:bold 11px consolas;
    padding:2px;
    background: #212121;
    color:white;
    visibility:hidden;
}

