.c-title{
    margin-right: 25%;
}

.c-p-container{
    width:100%;
    padding-top: 130px;
    padding-left: 30px;
    box-sizing:border-box;
}

.cart-message-container{
    position: relative;
    top: 180px;
    text-align:center;
}

.cart-label{
    font: 40px 'OpenSans-Light';
    color:#ff4444;
    /* text-align:center; */
}

.c-p-body{
    width:80%;
    margin:0px auto;
}

.c-p-card{
    height: 484px;
    width: 29.5%;
    margin: 3% 1.5%;
}

.c-p-event-section{
    margin: 3%;
    height: 100px;
}

.c-p-btn{
    height:35px;
    width:135px;
    border:1px solid #bbb;
    border-radius: 2px;
    background:white;
    font:12px 'OpenSans-Regular';
    cursor:pointer;
    outline:none;
    margin: 0px 5px 10px 5px;
    transition:all 0.33s ease-in-out;
    float:left;
}

.btn-full{
    width: 96%;
    border:1px solid #4caf50;
    color:#4caf50;
}

.btn-full:hover{
    color:white;
    background:#4caf50;
}

.btn-view{
    border:1px solid #3388dd;
    color:#3388dd;
}

.btn-view:hover{
    background:#3388dd;
    color:white;
}


.cart-enable{
    visibility:visible;
}