.c-title{
    margin-right: 25%;
}

.c-p-container{
    width:100%;
    padding-top: 130px;
    padding-left: 30px;
    box-sizing:border-box;
}

.cart-message-container{
    position: relative;
    top: 180px;
    text-align:center;
}

.cart-label{
    font: 40px 'OpenSans-Light';
    color:#ff4444;
    /* text-align:center; */
}

.c-p-body{
    width:80%;
    margin:0px auto;
}

.c-p-card{
    height: 470px;
    width: 29.5%;
    margin: 3% 1.5%;
}

.c-p-event-section{
    margin: 3%;
    height: 100px;
}

.c-p-btn{
    height:35px;
    width:135px;
    border:1px solid #bbb;
    border-radius: 2px;
    
    font:12px 'OpenSans-Regular';
    cursor:pointer;
    outline:none;
    border:none;
    margin: 0px 5px 10px 5px;
    transition:all 0.33s ease-in-out;
    float:left;
}

.btn-full{
    width: 96%;
    background:#4caf50;
    color:white;
}

.btn-full:hover{
    background:#357b39;
}

.c-p-btn-remove{
    background:red;
    color:white;
}

.c-p-btn-remove:hover{
    background:#d60000;
}

.btn-view{
    background:#3388dd;
     color:white;
}

.btn-view:hover{
    background:#235e9a;
   
}

.btn-full:hover, .btn-view:hover, .c-p-btn-remove:hover{
    box-shadow:0 2px 8px rgba(0,0,0,0.2);
}

.cart-enable{
    visibility:visible;
}