body {
    background:#fafafa;
}

.container{
    width:500px;
    height:360px;
    margin:0px auto;
    margin-top:100px;
    padding-top:10px;
    background:white;
    text-align:center;
    box-shadow:0px 0px 2px 0px rgba(0,0,0,0.2), 
        0px 2px 2px -2px rgba(0,0,0,0.14);
}

.container:hover{
    box-shadow:0px 1px 4px rgba(0,0,0,0.2);
}

.container h1{
    color:#226688;
    text-align:center;
    margin-bottom:30px;
}

.table{
    width:100%;
    margin:0px auto;
    text-align:left;
}

.table td{
    padding:10px;
}


.label{
    font:bold 16px calibri;
    padding-left:25px;
}

.text-box{
    width:85%;
    height:35px;
    padding-left:15px;
    border-radius:2px;
    border:1px solid #bbb;
    font:bold 12px consolas;
    outline:none;
}

.button{
    height:40px;
    width:150px;
    margin-top:20px;
    border:1px solid #bbb;
    background:white;
    border-radius:2px;
    font:bold 16px calibri;
    cursor:pointer;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.button:hover{
    background:#fafafa;
    box-shadow:0px 1px 5px rgba(0,0,0,0.2);
}