
.cu-title{
    margin-top:50px;
    font:bold 35px Calibri;
    color:cadetblue;
}

.cu-body-container{
    width:100%;
    height:auto;
}

.left-menu-ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

.left-menu-ul li a{
    padding:10px 20px;
    text-decoration:none;
    font:bold 20px calibri;
    color:#434343;
    display:block;
}

.left-menu-ul li a:hover{
    background:#ddd !important;
    color:black;
}
.cu-left-control-panel{
    position:relative;
    width:20%;
    height:auto;
    margin-left:1%;
    float:left;
    background:white;
    border-radius:5px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
}

.cu-left-control-panel ul{
    margin:0px;
    padding:0px;

}

.cu-left-control-panel ul li{
    float:none;
}

cu-left-control-panel-first{
    margin-top:30px;
}

.cu-left-control-panel ul li a{
    display:block;
    color: #434343;
}

.cu-left-control-panel ul li a:hover{
    color:black;
    background:#ddd;
}

.cu-main-content{
    margin-top:20px;
    margin-left:22%;
    padding-bottom:50px;
    width:77%;
    height:auto;
    text-align:center;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
    border-radius:5px;
}

.cu-new-user{
    margin:0px auto;
    width:60%;
    background:#fafafa;
    border:1px solid #f9f9f9;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    border-radius:5px;
    
}

.cu-h1{
    /* margin:10px; */
    padding: 20px 0px;
    color: darkcyan;
    text-decoration:underline;
}

.responsive-table1{
    border-collapse:collapse;
    width: 100%;
    margin: 0px auto;
    margin-top:40px;
}

.responsive-table2{
    border-collapse:collapse;
    width: 100%;
    margin: 0px auto;
    margin-bottom:30px;
}

tr,td{
    height:50px;
    padding: 10px;
}

.left{
    width: 30%;
}

.right{
    width: 30%;
}

.required{
    width: 5%;
}

.label{
    /* padding: 0px 20px; */
    font: bold 20px garamond;
    color: #006677;
}

.text-field{
    height:40px;
    width: 100%;
    padding:0px 10px;
    border-radius:2px;
    border:1px solid #006689;
    outline:none;
    transition:all 0.33s ease-in-out;
    font:bold 16px garamond;
    color:#006688;
}

.text-field:active, .text-field:focus{
    box-shadow:0px 0px 10px rgba(4, 162, 205, 0.5);
    border: 1px solid #47baf4;
}


.radio-container label{
    color:#006688;
    font:bold 16px garamond;
    cursor:pointer;
    
}

.dob::-webkit-inner-spin-button {
    height:40px;
}

.dob::-webkit-calendar-picker-indicator{
    font-size:16px;
    padding:20px 10px;
    color:#006688;
}

.left-label{
    width: 40%;
}

.validation-summary{
    width:265px;
    background:rgba(255,0,0,0.3);
    position:absolute;
    top:20%;
    margin-left:15px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
    border-radius:5px;  
}

.validation-summary{
    font-weight:bold;
    font-family:monospace;
}

.button{
    text-align:center;
    margin-bottom:30px;
}

.button input{
    padding:10px 40px;
    border:1px solid #006688;
    background:white;
    border-radius:2px;
    color:#006688;
    font:bold 16px garamond;
    outline:none;
    transition:all 0.33s ease-in-out;
    
}

.button input:hover{
    background:#006688;
    color:white;
    cursor:pointer;
}

.cu-danger-h1{
    padding:30px;
    text-decoration:underline;
    color:#ff5555;
}

.cu-delete-user{
    margin:0px auto;
    padding:5%;
    width:60%;
    border-radius:5px;
    border:1px solid #ff4444;
    background:white;
    box-shadow:0px 0px 2px rgba(255,0,0,0.5);
}

.cu-danger-textbox{
    height:40px;
    width:60%;
    border-radius:2px;
    border:1px solid #ff4444;
    padding:0px 10px;
    outline:none;
    font:bold 16px calibri;
    color:red;
    transition:all 0.33s ease-in-out;
}

.cu-danger-textbox:focus, .cu-danger-textbox:active{
    border:1px solid #ff4444;
    box-shadow:0px 0px 10px rgba(255,0,0,0.2);
}

.cu-btn-delete{
    height:40px;
    margin-top:20px;
    width:25%;
    background:white;
    border:1px solid red;
    border-radius:2px;
    font:bold 16px calibri;
    color:red;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.cu-btn-delete:hover{
    background:red;
    color:white;
    cursor:pointer;
}