
.cu-title{
     margin-top:50px;
    font: 35px 'OpenSans-Light';
    color:#01608e;
}

.cu-body-container{
    width:100%;
    height:auto;
    margin-top:30px;
}

.left-menu-ul{
    margin:0px;
    padding:0px;
    list-style-type:none;
}

.left-menu-ul li a{
    padding:12px 0px 12px 25px;
    text-decoration:none;
    font:bold 16px calibri;
    display:block;
}

.left-menu-ul li a:hover{
    background:#bbb !important;
    color:black;
}

.cu-left-control-panel{
    position:relative;
    width: 18%;
    height:auto;
    margin-left: 2%;
    float:left;
    background:white;
    border-radius:3px;
    border: 1px solid #ddd;
}

.cu-left-control-panel ul{
    margin:0px;
    padding:0px;

}

.cu-left-control-panel ul li:not(:last-child){
    float:none;
    border-bottom: 1px solid #ccc;
}

cu-left-control-panel-first{
    margin-top:30px;
}

.cu-left-control-panel ul li a{
    display:block;
    color: #434343;
    transition:all 0.33s ease;
}

.cu-left-control-panel ul li a:hover{
    color:black;
    background: #eee !important;
}

.cu-main-content{
    margin-top:20px;
    margin-left:22%;
    padding-bottom:50px;
    width:77%;
    height:auto;
    text-align:center;
    box-shadow:0px 0px 2px rgba(0,0,0,0.3);
    border-radius:2px;
}

.cu-main-content:hover{
    box-shadow:0 1px 5px -1px rgba(0,0,0,0.3);
}

.cu-new-user{
    margin:0px auto;
    width:60%;
    background:#fafafa;
    padding-top:1px;
    padding-bottom:10px;
    box-shadow:0px 0px 3px rgba(0,0,0,0.3);
    border-radius:3px;
    margin-bottom: 50px;
}

.cu-h1{
    font:30px 'OpenSans-Light';
    padding: 25px;
    color: darkcyan;
}

.responsive-table1{
    border-collapse:collapse;
    width: 100%;
    margin: 0px auto;
    margin-top:40px;
    text-align:left;
}

.responsive-table2{
    border-collapse:collapse;
    width: 100%;
    margin: 0px auto;
    margin-bottom:30px;
    text-align:left;
}

tr,td{
    height:50px;
    padding: 10px;
}

.responsive-table2 td{
    padding:10px 10px 0px 40px;
}

.left{
    width: 30%;
}

.right{
    width: 30%;
}

.required{
    width: 5%;
}

.label{
    /* padding: 0px 20px; */
    font: bold 20px garamond;
    color: #006677;
    margin-left:40px;
}

.text-field{
    height:40px;
    width: 100%;
    padding:0px 10px;
    border-radius:2px;
    border:1px solid #006689;
    outline:none;
    transition:all 0.33s ease-in-out;
    font:bold 16px garamond;
    color:#006688;
}

.text-field:active, .text-field:focus{
    box-shadow:0px 0px 10px rgba(4, 162, 205, 0.5);
    border: 1px solid #47baf4;
}


.radio-container label{
    color:#006688;
    font:bold 16px garamond;
    cursor:pointer;
}

.dob::-webkit-inner-spin-button {
    height:40px;
}

.dob::-webkit-calendar-picker-indicator{
    font-size:16px;
    padding:20px 10px;
    color:#006688;
}

.left-label{
    width: 40%;
}

.validation-summary{
    width: 245px;
    background:#ff8888;
    position:absolute;
    top: 6%;
    margin-left: 25px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.3);
    border-radius:5px;
}

.validation-summary{
    font-weight:bold;
    font-family:monospace;
}

.button{
    text-align:center;
    margin-bottom:30px;
}

.button input{
    padding:10px 40px;
    border:1px solid #006688;
    background:white;
    border-radius:2px;
    color:#006688;
    font:bold 16px garamond;
    outline:none;
    transition:all 0.33s ease-in-out;
    
}

.button input:hover{
    background:#006688;
    color:white;
    cursor:pointer;
}

hr{
    margin: 30px 40px 0px 40px;
    border:1px dashed #ddd;
}

.cu-danger-h1{
    padding:30px;
    text-decoration:underline;
    color:red;
}

.cu-delete-user, .gvPartnerList, .gv-user-list, .gv-delete-partner, .gv-product-list, .gv-delete-product{
    margin:0px auto;
    text-align:left;
 
    box-shadow:0px 2px 2px  rgba(0,0,0,0.2);
}

.cu-btn-delete{
    height:40px;
    margin-top:40px;
    margin-bottom:20px;
    width: 170px;
    background:white;
    border:1px solid red;
    border-radius: 2px;
    font:bold 16px calibri;
    color:red;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.cu-btn-delete:hover{
    background:red;
    color:white;
    cursor:pointer;
}

.partner-list, .product-list, .delete-product, .delete-partner{
    margin:0px auto;
    text-align:center;
    width:90%;
}

.delete-user, .delete-partner, .delete-product{
    text-align:center;
}

.status-label{
    font:bold 12px consolas;
}
