body {
    background:#f9f9f9;
    margin:0px;
    padding:0px;
}

.container{
    width:40%;
    height:330px;
    margin:0px auto;
    text-align:center;
    margin-top:150px;
    padding-top:25px;
    box-shadow:0px 0px 5px rgba(0,0,0,0.2);
    border-radius:3px;
}

.container:hover{
    box-shadow:0px 1px 8px rgba(0,0,0,0.2);
}

.text-box{
    height:40px;
    width:70%;
    margin-top:40px;
    margin-bottom:20px;
    outline:none;
    padding-left:20px;
    font:bold 16px garamond;
    border:1px solid #ccc;
    border-radius:2px;
    transition:all 0.33s ease-in-out;
}

.text-box:focus{
    border:1px solid #88ddff;
    box-shadow:0px 0px 5px rgba(40,140,240,0.2);
}

.button{
    height:40px;
    width:150px;
    margin-top:10px;
    margin-bottom:20px;
    border:1px solid #bbb;
    background:white;
    border-radius:3px;
    font:bold 16px garamond;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.button:hover{
    cursor:pointer;
    background:#f9f9f9;
    box-shadow:0px 2px 3px rgba(0,0,0,0.1);
}

.label{
    font:bold 12px consolas;
    color:green;
}

.validation{
    text-align:center;
    font:bold 12px consolas;
    color:red;
}

.container h1{
    color:forestgreen;
}