body{
    background:#f3f3f3;
   
}

input[type="text"],input[type="password"]{
    height:50px;
    width:300px;
    border-radius:5px;
    border:1px solid black;
    font:bold 20px consolas;
    padding-left:30px;
    margin-bottom:30px;
    
}

input[type="submit"]{
    height:50px;
    width:150px;
    border-radius:5px;
    border:1px solid black;
    font:bold 20px consolas;
    
}

input[type="submit"]:hover{
    background:olive;
    cursor:pointer;
}

.container{
    background:rgba(140,200,0,0.3);
    height:400px;
    width:500px;
    text-align:center;
    border:1px solid black;
    margin:0px auto;
    margin-top:100px;
    padding-top:50px;
    border-radius:5px;
    

}

img{
    height:150px;
    width:150px;
    margin-top:-130px;
    padding-bottom:50px;
}