.product-details{
    padding-top: 30px;
    margin:0% 5%;
    width: 90%;
    float:left;
}

.description{
    margin-top:24px;
    margin-left: 55%;
    padding: 1% 2%;
    background: #fcfcfc;
    box-shadow:inset 0px 0px 3px rgba(0,0,0,0.2);
    border-radius:4px;
}

.p-title{
    padding:0;
    margin:0;
    float:right;
    margin-right:30%;
    font:25px 'OpenSans-regular';
    color:#007bcc;
    line-height:70px;
}

.pro-desc{
    color: #000000;
    font-family: 'OpenSans-Regular';
}

.pro-desc2{
    font:13px 'OpenSans-Light';
}
.pro-code{
    font-size: 20px;
    font-family:'OpenSans-Regular';
}

.pro-code{
    color: #000000;
}

.pro-name{
    font-size: 26px;
    font-family:'OpenSans-Regular';
    color: black;
}

.pro-price{
    font: 18px 'OpenSans-regular';
    color: #000;
}


.event{
    margin-top:30px;
    margin-bottom:40px;
    float:  right;
}

.event .btn, .event a{
    height:35px;
    width:120px;
    border:1px solid #aaa;
    background:white;
    border-radius:3px;
    font:bold 16px calibri;
    color:black;
    margin:0px 20px;
    cursor:pointer;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.event a{
    text-decoration:none;
    padding:7px 40px;
    box-sizing:border-box;
    margin:0;
}

.btn:hover , .event a:hover{
    background:#fafafa;
    box-shadow:0px 1px 4px rgba(0,0,0,0.2);
}

