.p-body-content{
    padding-top:115px;
    margin:0px auto;
}

.p-title{
    padding:0;
    margin:0;
    float:right;
    margin-right:30%;
    font:25px 'OpenSans-regular';
    color:#007bcc;
    line-height:70px;
}

.product-details{
    padding-top: 30px;
    margin:0% 5%;
    width: 90%;
    float:left;
}

.product-details p{
    font-family:'OpenSans-Regular';
    padding:5px 25px 10px 25px;
    margin:0px !important;
}

.right-side{
    margin-bottom: 100px;
    margin-top:24px;
    margin-left: 55%;
    background: #fafafa;
    box-shadow: 0px 2px 2px rgba(0,0,0,0.2);
}

.description{
    padding-top: 20px;
    margin-bottom: 30px !important;
}

.pro-desc{
    font-size:16px;
}

.pro-desc2{
    font-size:12px;
}

.pro-code{
    font-size: 18px;
    
}

.pro-name{
    font-size: 26px;
    padding:20px 25px 10px 25px!important;
}

.pro-price{
    font-size:18px;
}

.event{
    height: 56px;
    width: 100%;
    padding-left: 20px;
    box-sizing:  border-box;
}

.event .btn, .event a, .btn-cart{
    height:35px;
    width:120px;
    padding:0px 20px;
    background:white;
    border-radius:2px;
    font:bold 16px calibri;
    cursor:pointer;
    outline:none;
    transition:all 0.33s ease-in-out;
    margin:0px 5px;
    float: left;
}

.btn-order{
    border:1px solid #4caf50;
    color:#4caf50;
}

.btn-order:hover{
    background:#4caf50;
    color:white;
}

.btn-cart{
    border:1px solid #7952b3;
    color:#7952b3;
}

.btn-cart:hover{
    background:#7952b3;
    color:white;
}

.event a{
    border:1px solid #4caf50;
    color:#4caf50;
    text-decoration:none;
    padding:7px;
    box-sizing:border-box;
}

.event a:hover{
    box-shadow:none;
    background:#4caf50;
    color:white;
}

.p-footer{
    position:absolute;
    width:40.5%;
    top:170px;
    background:black;
    text-align:center;
    visibility:hidden;
}

.p-cart{
    font:bold 11px consolas;
    color:white;
    padding:2px;
}

.btn-remove{
    width:170px !important;
    border:1px solid red !important;
    color:red !important;
}

.btn-remove:hover{
    background:red;
    color:white !important;
    box-shadow:none !important;
}

#cphBody_ErrorMessage{
    display: none;
    text-align: center;
    margin-top: 200px;
    font: 40px 'OpenSans-Light';
    color: #ff4444;
}