*{
    box-sizing:border-box;
}

body {
    background:#fafafa;
}

h1,h2,h3,h4,h5,h6{
    margin:0px;
    padding:0px;
}

.container{
    width:40%;
    height:600px;
    margin:0px auto;
    
    margin-top:30px;
    background:white;
    border-radius:4px;
    box-shadow:0px 2px 3px rgba(0,0,0,0.3);
}

.container:hover{
    box-shadow:0px 3px 5px rgba(0,0,0,0.4);
}

.head{
    width:100%;
    border:2px dashed #43af5c;
    background:#fff;
    text-align:center;
    color:green;
    background:#ccffcc;
}

.head h2{
    padding:10px;
}

.body{
    margin-top:30px;
    width: 100%;
}

table{
    border-collapse:collapse;
    width: 90%;
    margin: 0px auto;
}

tr,td{
    height:50px;
}

.left{
    width: 45%;
}

.right{
    width: 48%;
    /* padding: 0px 20px; */
}

.alert{
    width:5%;
}

.required{
    width: 2%;
}

.label{
    padding: 0px 20px;
    font: bold 20px garamond;
    color: #448822;
}

.text-field{
    height:40px;
    width: 100%;
    padding:0px 10px;
    border-radius:2px;
    border:1px solid #77dd66;
    outline:none;
    transition:all 0.33s ease-in-out;
    font:bold 16px garamond;
    color:#4caf50;
}

.text-field:active, .text-field:focus{
    box-shadow:0px 0px 10px rgba(120,225,80,0.5);
    border: 1px solid limegreen;
}

hr{
    margin: 10px 55px 0px 60px;
    border:1px dashed #4caf50;
}

/*.radio-container{
    padding:0px 20px;
}*/

.radio-container label{
    color:#119922;
    font:bold 16px garamond;
    cursor:pointer;
    
}


.hr2{
    border-style:dashed;
    margin: 0px 55px 0px 60px;
}

.button{
    text-align:center;
    margin: 20px auto;
}

.button input{
    padding:10px 35px;
    border:1px solid #4caf50;
    background:white;
    border-radius:2px;
    color:green;
    font:bold 16px garamond;
    outline:none;
    transition:all 0.33s ease-in-out;
    
}

.button input:hover{
    background:#16b738;
    color:white;
    cursor:pointer;
}

.agreement{
    margin: 10px 0px 5px 46px;
    color:#119922;
    font: bold 18px garamond;
}

.dob::-webkit-inner-spin-button {
    height:40px;
}

.dob::-webkit-calendar-picker-indicator{
    font-size:16px;
    padding:20px 10px;
    color:#4caf50;
    z-index:1;
}

.alert-span{
    position:relative;
    left: -30px;
    color:#ff4444;
    font:bold 18px calibri;
    visibility:hidden;
}

.notify{
    position:absolute;
    width:300px;
    top:30px;
    right:20px;
    background:rgba(255,0,0,0.1);
    border-radius:4px;
    box-shadow:0px 2px 5px rgba(0,0,0,0.4);

}

