body {
    background:#434343;
}

.container{
    width:500px;
    height:500px;
    margin:0px auto;
    margin-top:70px;
    text-align:center;
    border:1px solid lime;

}


.head{
    height:50px;
    width:500px;
    background:#00ff90;
    border:0px;
    
}