.profile-middle{
    margin:0px;
    padding:0px;
    font:25px 'OpenSans-Regular';
    float:right;
    line-height:70px;
    margin-right:30%;
}

.profile-container{
    margin:0px auto;
    padding-top: 150px;
    width: 80%;
    height: 620px;
    margin-bottom: 50px;
}

.pr-left-container{
    padding-top:2%;
    width: 26%;
    height:100%;
    background:#f9f9f9;
    float:left;
    box-sizing:border-box;
    text-align:center;
}

.user-image{

    width: 80%;
    height:auto;
    padding:1.5%;
    margin:5% 0%;
    background:white;
    border:1px solid #ddd;
    border-radius:3px;
}

.name-container{
    width: 80%;
    margin:0px auto;
    height:30px;
    border:none;
    padding:5px;
    background: #bbb;
    border-radius:2px;
    color:black;
    font:14px 'OpenSans-regular';
    line-height:30px;
}

.pr-right-container{
    padding-top:1%;
    width: 75%;
    height:100%;
    margin-left: 25%;
    background: #f5f5f5;
    box-sizing:border-box;
}

.pr-main-content{
    width:80%;
    margin:0px auto;
    margin-top: 30px;
    padding:20px 20px 40px 20px;
    background:white;
    text-align:center;
    box-shadow:0px 2px 2px 0 rgba(0,0,0,0.14), 1px 2px 2px 0 rgba(0,0,0,0.14), 0 0 0 -2px rgba(0,0,0,0.2);
}

.tblAdminProfile{
    margin:0px auto;
    text-align: left;
    margin-top:20px;

}


.pr-label{
    font: bold 18px garamond;
    padding-right: 50px;
}

.pr-text-field{
    width:220px;
    height:25px;
    border-radius:3px;
    border: 1px solid #bbb;
    background:#ddd;
    font:bold 16px garamond;
    padding:5px;
    padding-left:15px;
    outline:none;
    margin:5px;
    margin-left:40px;
    transition:all 0.33s ease-in-out;
}

.pr-text-field:focus:not(:disabled), .pr-ddl:focus:not(:disabled){
    border:1px solid #64bbff;
    box-shadow:0px 0px 8px rgba(40,140,240,0.3);
}

.text-field:hover{
    cursor:not-allowed;
}

.pr-btn-edit{
    height:30px;
    width:50px;
    border:1px solid #ccc;
    background:white;
    border-radius:3px;
    cursor:pointer;
    font:bold 12px calibri;
    outline:none;
    transition:all 0.33s ease-in-out;
    margin-left:15px;
}


.pr-btn-edit:hover{
    background:#fafafa;
    box-shadow:0px 0px 2px rgba(0,0,0,0.2);
}


.pr-btnUpdate{
    height:35px;
    width:120px;
    margin:20px;
    background:white;
    font:bold 16px calibri;
    border:1px solid #bbb;
    border-radius:3px;
    cursor:not-allowed;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.pr-btnUpdate:hover:not(:disabled){
    background:#fafafa;
    color:black;
    box-shadow:0px 1px 2px rgba(0,0,0,0.2);
    
}

.pr-ddl{
    height:35px;
    width:242px;
    border-radius:3px;
    padding-left:15px;
    margin-left:39px;
    background:#ddd;
    border:1px solid #bbb;
    font:bold 16px garamond;
    outline:none;
    transition:all 0.33s ease-in-out;
}

.dob::-webkit-inner-spin-button {
    height:20px;
    
}

.dob::-webkit-calendar-picker-indicator{
    font-size:14px;
    padding:20px 10px;
}


.pr-copyright{
    text-align:center;
    margin-bottom:20px;
}

.pr-copyright a{
    font:bold 12px consolas;
    color:#222;
    text-decoration:none;
}

.pr-copyright a:hover{
    color:black;
    text-decoration:underline;
}